
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.corousel1 {
    height: 60vh;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    overflow-x: auto; 
    align-items: center;
    padding: 0px 50px;
}

.corousel1::-webkit-scrollbar {
    display: none; 
}

.cards {
    min-width: 106%;
    margin-right: 20px;
    position: relative;
    right: 50px;
}

.cards img {
    width: 100%; 
}

.heading{
    height: 70px;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
}
.head h1{
    width: 150px;
    margin-top: 20px;
    /* border: 1px solid; */
}

.box{
    height: 70px;
    width: 500px;
    /* border: 1px solid; */
    margin-left: 650px;
    display: flex;
}
.box1{
    height: 50px;
    width: 163px;
    /* border: 1px solid; */
    margin-top: 7px;
    padding: 15px;
    font-size: large;
}

select{
    border: 1px solid rgba(200, 197, 197, 0.832);
    font-size: large;
}

.corousel2 {
    /* height: 200vh;  */
   width: 85%;
   /* border: 1px solid; */
   margin: 70px 0px 0px 110px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   /* align-items: center; */
   overflow-x: auto;

   
   
}

.corousel2::-webkit-scrollbar{
    display: none;
}

.cards2 {
     /* height: 350px; */
     width: 300px;
     /* border: 1px solid; */
     margin-bottom: 30px;
     box-shadow: 5px 5px 10px grey;
    padding: 10px;
}

.cards2 img{
    height: 400px;
    min-width: 100%;
    /* border: 1px solid; */
    
}

.card-info p{
    color: rgb(165, 166, 167);
}

.card-info button{
    background-color: rgb(9, 100, 192);
    color: white;
    padding: 10px;
    border: 1px solid rgb(9, 100, 192) ;
}



.paymentmain{
    width: 450px;
    height: 590px;
    border: 1px solid gray;
    margin: 40px 490px;
    box-shadow: 0px 4px 20px gray;
}

.pay1{
    width: 450px;
    height: 130px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
} 
.pay2{
    width: 450px;
    height: 160px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
} 
.pay3{
    width: 450px;
    height: 100px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
} 
.pay4{
    width: 450px;
    height: 70px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
} 

.pay5{
    width: 450px;
    height: 70px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;

}



.pays1{
    width: 300px;
    height: 110px;
    /* border: 1px solid; */
    margin-top: 10px;

}

.pays2{
    width: 100px;
    height: 110px;
    /* border: 1px solid; */
    margin-top: 10px;

}
.date{
    font-weight: bold;
    color: black;
    margin-top: 10px;
    font-size: large;
}

.pays2 p{
    color: rgba(7, 127, 246, 0.979);
    font-weight: bold;
}
h1{
    margin: 10px 20px;
}

p{
    margin-left: 10px;
    color: grey;
}

.pays3{
    width: 300px;
    height: 140px;
    /* border: 1px solid; */
    margin-top: 10px;

}
.pays3 p{
    font-size: large;
    margin-top: 10px;
    color: grey;

}
.pays3 .greys{
    color: black;
}
.pays4{
    width: 100px;
    height: 140px;
    /* border: 1px solid; */
    margin-top: 10px;

}
.pays4 .greys{
    color: black;

}
.pays4 p{
    color: grey;
    font-size: large;
    margin-top: 10px;

}
.pays5{
    width: 300px;
    height: 80px;
    /* border: 1px solid; */
    margin-top: 10px;

}

.grey {
    font-size: larger;
    margin-top: 10px;
    color: gray;
}
.blue{
    font-size: larger;
    margin-top: 10px;
    font-weight: bold;
    color: rgba(7, 127, 246, 0.979);
}
.pays6{
    width: 100px;
    height: 80px;
    /* border: 1px solid; */
    margin-top: 10px;

}
.pays6 p{
    font-size: larger;
    margin-top: 30px;
}
.pays7{
    width: 300px;
    height: 50px;
    /* border: 1px solid; */
    margin-top: 10px;

}
.pays7 p{
    font-size: larger;
    margin-top: 10px;
    color: rgba(7, 127, 246, 0.979);
    font-weight: bold;
}
.pays8{
    width: 100px;
    height: 50px;
    /* border: 1px solid; */
    margin-top: 10px;

}

.gift{
    font-size: 40px;
    color: rgb(252, 153, 5);
    margin-left: 30px;
}

.pays9{
    width: 80%;
    height: 60px;
    /* border: 1px solid; */
    margin-top: 10px;
    margin-left: 45px;
    background: linear-gradient(to right ,  rgb(146, 152, 218),rgb(89, 89, 89));

}
.pays9 p{
    font-size: larger;
    margin: 20px 60px;
    color: white;
}

.pay6{
    width: 100%;
    height: 60px;
    border: 1px solid rgb(19, 81, 237);
    margin-bottom: 20px;
    background-color: rgb(25, 121, 246);

}

.pay6 p{
    font-size: x-large;
    margin-left:  140px;
    margin-top: 10px;
    color: white;
}








